<div class="row rounded w-50 p-3" style="margin-bottom: 10px">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bug Name</th>
      <th scope="col">Status</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
  <% objects.each.with_index(1) do |ticket, i| %>   
    <tr>
      <th scope="row"><%= i%></th>
      <td><%= link_to ticket.title, ticket_path(ticket)%></td>
    <% if ticket.status == 0 %>
        <td><b class="text-primary">New</b></td>
    <% elsif ticket.status == 1 %>
        <td><b class="text-warning">Started</b></td>
    <% elsif ticket.status == 2 && ticket.category == 0 %>
        <td><b class="text-success">Resolved</b></td>
    <% else %>
        <td><b class="text-success">Completed</b></td>
    <% end %>

      <td><%= ticket.user.name.capitalize%></td>
    </tr>
<%end%>
  </tbody>
</table>
</div>