<div class="row rounded w-50 p-3" style="margin-bottom: 10px">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Bugs</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
  <% objects.each.with_index(1) do |project, i| %>   
    <tr>
      <th scope="row"><%= i%></th>
      <td><%= link_to project.name, project_path(project)%></td>
      <td><%= project.tickets.count%></td>
      <td><%= project.user.name.capitalize%></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>